$blue: #005fff;
$blue-light: #496dff;
$black: #000;
$blue-alternative: #1c86ff;
$grey: dimgrey;
$white: white;

$colors: (
  blue: $blue,
  blue-light: $blue-light,
  black: $black,
  grey: $grey,
  white: $white,
  blue-alternative: $blue-alternative
);