// colors
@each $key, $val in $colors {
  .color-#{$key} {
    color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }
}

// text aling
@each $val in (left, right, center, justify) {
  .text-#{$val} {
    text-align: $val;
  }
}

.logo {
  filter: saturate(0) invert(1) grayscale(100%) contrast(2.5);
  width: 180px;
  margin-left: -17px;
  margin-bottom: 18px;
}

.header {
  display: block;
  padding: $_paddingContent $_paddingContent*3 $_paddingContent $_paddingContent;
  color: $white;

  .title {
    font-size: calculate-rem(25px);
    line-height: calculate-rem(34px);
    margin-bottom: 20px;
    padding-right: 70px;
  }

  .subtitle {
    font-size: calculate-rem(20px);
    margin-bottom: 20px;
  }

  p {
    font-size: calculate-rem(14px);
    line-height: calculate-rem(20px);
  }
}

.contaier-section {
  margin-bottom: 20px;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  & > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: $black;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .4;
  }
}

.label,
.input {
  display: block;
  font-size: calculate-rem(14px);
  font-weight: 400;
}

.input {
  border: 1px solid $grey;
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 12px 20px;
  color: darken($grey, 30%);
}

.label {
  font-weight: lighter;
  margin-bottom: 5px;
  font-size: calculate-rem(13px);
}

.form {
  padding-left: $_paddingContent;
  padding-right: $_paddingContent;

  .group {
    margin: 13px auto;
  }


  .description {
    margin-top: 20px;
    padding-right: $_paddingContent * 2;
    font-weight: normal;
    color: #383838;
    font-size: calculate-rem(15px);
    margin-bottom: 20px;
  }
}

.container-btns {
  margin-top: 20px;
}

.btn {
  color: $white;
  padding: 10px 20px;
  min-width: 150px;
  border-radius: 10px;
  font-size: calculate-rem(15px);
}

.content-carousel {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 45%;
    display: block;
    background-color: $blue;
    position: absolute;
    left: 0;
    top: -20px;
  }

  .owl-carousel {
    margin: 20px auto;
    z-index: 99;

    .item {
      margin-bottom: 10px;
    }
  }

  .owl-nav {
    display: none !important;
  }

  .owl-dots {
    display: block;
    text-align: center;
    margin-top: 20px;

    .owl-dot {
      display: inline-block;
      width: 40px;
      height: 4px;
      background: $blue;
      border-radius: 5px;
      margin: 0 5px;
      opacity: .5;

      &.active {
        opacity: 1;
      }
    }
  }
}


.card {
  border-radius: 20px;
  padding: 40px 30px;
  background-color: $white;
  width: 70vw;
  margin: auto;
  min-height: 45vh;

  -webkit-box-shadow: 7px 7px 4px -5px rgba(0,0,0,0.33);
  -moz-box-shadow: 7px 7px 4px -5px rgba(0,0,0,0.33);
  box-shadow: 7px 7px 4px -5px rgba(0,0,0,0.33);


  .icon {
    font-size: calculate-rem(60px);
    color: $blue-alternative;
    display: block;
    margin: auto;
    text-align : center;
    margin-bottom: 35px;
  }

  .icon-combine {
    margin-left: 25px;
    margin-bottom: 35px;

    .icon {
      font-size: calculate-rem(30px);
      margin-bottom: 0;

      & + .icon {
        font-size: calculate-rem(60px);
        margin-top: -25px;
        margin-left: -25px;
      }
    }
  }

  .title {
    text-align: left;
    font-size: calculate-rem(17px);
    margin-bottom: 30px;
    width: 60%;
    font-weight: normal;
  }

  .description {
    font-size: calculate-rem(13px);
    font-weight: lighter;
    line-height: calculate-rem(20px);
  }
}

