* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: $font-default;
  font-size: $font-size-default;
}

a {
  text-decoration: none;
  color: inherit;
  &:active {
    color: inherit;
    outline: 0
  }
  &:hover {
    color: inherit;
    outline: 0
  }
  &:visited {
    color: inherit;
    outline: 0
  }
}

b,
strong {
  font-weight: bold
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

label {
  margin: 0;
  padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0
}

textarea {
  resize: vertical
}

ul {
  list-style-position: inside
}

strong {
  font-weight: bold
}

button {
  background: none;
  border: none
}

button,
input,
optgroup,
select,
textarea {
  outline: none;
}

.hidden {
  display: none;
  visibility: hidden
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.visuallyhidden.focusable {
  &:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
  }
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
  }
}

.invisible {
  visibility: hidden
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.clearfix {
  *zoom: 1
}