$font-size-default: 16px;
$_paddingContent: 21px;
$_paddingContentTop: 28px;
$genera_time_transition: .5s;

$padding_general: (
  left: $_paddingContent,
  right: $_paddingContent,
  top: $_paddingContentTop,
  bottom: $_paddingContentTop,
);