@media screen and (min-width: 1024px) {
  html, body {
    font-size: 25px;
  }

  .logo {
    width: 400px;
    margin-left: -40px;
    margin-bottom: 30px;
  }

  .header {
    padding: $_paddingContent*4 $_paddingContent*12 $_paddingContent*4 $_paddingContent*4;

    .title {
      margin-bottom: 60px;
    }
    .subtitle {
      margin-bottom: 40px;
    }
  }

  .form {
    padding-left: $_paddingContent*4;
    padding-right: $_paddingContent*4;
    margin-top: 50px;

    .description {
      padding-right: $_paddingContent * 4;
    }
  }

  .container-btns {
    margin-top: 40px;
  }

  .content-mid {
    .header {
      padding-bottom: 12px;
    }
  }

  .content-carousel {
    padding-bottom: 50px;
    &::before {
      height: 50%;
      top: -30px;
    }
  }

  .card {
    padding: 60px 40px;
    width: 400px;
    min-height: 600px;
  }

  .content-bot {
    .header {
      padding-top: 350px;
    }
  
    & > .content {
      padding: $_paddingContent*4 $_paddingContent*12 $_paddingContent*4 $_paddingContent*4;
    }
  }

  .footer {
    padding: $_paddingContent*4;

    .container {
      position: relative;

      .logo {
        width: 250px;
      }

      .btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    p {
      font-size: calculate-rem(10px);
      margin-top: 50px;
    }
  }

}